h1 {
 font-family: "Helvetica", Helvetica, sans-serif;
}

img {
  float: right;
}

.important {
  font-family: "Helvetica", Helvetica, sans-serif;
  color: #E5B6B6;
  text-align: justify;

}

.unimportant {
  font-family: "Helvetica", Helvetica, sans-serif;
  color: #B79191;
  text-align: justify;
  width: 500px;
}
.bright {
  font-family: "Helvetica", Helvetica, sans-serif;
  color: #5B4848;
  text-align: center;
}

.dull {
  font-family: "Helvetica", Helvetica, sans-serif;
  color: #5B4848;
  text-align: center;
}

.column {
  width: 400px;
  float: left;
  font-family: "Helvetica", Helvetica, sans-serif;
